Source: ssm-client
Section: utils
Priority: optional
Maintainer: Shattered Silicon
Standards-Version: 4.6.2.0
Build-Depends: debhelper (>= 9), golang-1.25
Homepage: https://shatteredsilicon.net

Package: ssm-client
Provides: pmm-client (= 1.17.6)
Replaces: pmm-client (<< 1.17.6-1)
Conflicts: pmm-client (>= 1.17.6-1)
Architecture: amd64 arm64
Pre-Depends: percona-toolkit
Description: Shattered Silicon Monitoring Client
 Shattered Silicon Monitoring (SSM) is an open-source platform for managing and monitoring MySQL and MongoDB
 performance. It is a fork of Percona Monitoring and Management (PMM), which is developed by Percona in collaboration
 with experts in the field of managed database services, and further improved by Shattered Silicon.
 SSM is a free and open-source solution that you can run in your own environment for maximum security and reliability.
 It provides thorough time-based analysis for MySQL and MongoDB servers to ensure that your data works as efficiently
 as possible.
