#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

TMP=$(CURDIR)/debian/tmp
PACKAGE_ROOT=$(CURDIR)/debian/ssm-client

export GOPATH=$(CURDIR)/go
export GO111MODULE=off
export GOROOT=/usr/lib/go-1.24
export PATH:=/usr/lib/go-1.24/bin:$(PATH)

override_dh_auto_build:
	mkdir -p $(GOPATH)/src/github.com/prometheus
	mkdir -p $(GOPATH)/src/github.com/shatteredsilicon
	mkdir -p $(GOPATH)/bin

	tar -zxf ssm-client*.tar.gz
	cd ssm-client && \
		mv -fT submodules/qan-agent $(GOPATH)/src/github.com/shatteredsilicon/qan-agent && \
		mv -fT submodules/node_exporter $(GOPATH)/src/github.com/shatteredsilicon/node_exporter && \
		mv -fT submodules/mysqld_exporter $(GOPATH)/src/github.com/shatteredsilicon/mysqld_exporter && \
		mv -fT submodules/mongodb_exporter $(GOPATH)/src/github.com/shatteredsilicon/mongodb_exporter && \
		mv -fT submodules/postgres_exporter $(GOPATH)/src/github.com/shatteredsilicon/postgres_exporter && \
		mv -fT submodules/proxysql_exporter $(GOPATH)/src/github.com/shatteredsilicon/proxysql_exporter
	mv ssm-client $(GOPATH)/src/github.com/shatteredsilicon/ssm-client

	go install -ldflags="-s -w" github.com/shatteredsilicon/postgres_exporter/cmd/postgres_exporter
	go install -ldflags="-s -w" github.com/shatteredsilicon/node_exporter
	go install -ldflags="-s -w" github.com/shatteredsilicon/mongodb_exporter
	go install -ldflags="-s -w" github.com/shatteredsilicon/proxysql_exporter
	go install -ldflags="-s -w" github.com/shatteredsilicon/mysqld_exporter
	go install -buildvcs=false -ldflags="-s -w" github.com/shatteredsilicon/qan-agent/bin/...
	go install -ldflags="-s -w -X 'github.com/shatteredsilicon/ssm-client/ssm.Version=%{_version}-%{_release}'" github.com/shatteredsilicon/ssm-client

override_dh_auto_install:
	@echo "RULES.$@"
	install -d $(TMP)/rsyslog.d
	install -d $(TMP)/logrotate.d
	install -d $(TMP)/init.d
	install -d $(TMP)/init
	install -d $(TMP)/config
	cp $(GOPATH)/bin/ssm-client $(TMP)/ssm-admin
	cp $(GOPATH)/bin/ssm-client $(TMP)/pmm-admin
	cp -f $(GOPATH)/bin/node_exporter $(TMP)/node_exporter
	cp -f $(GOPATH)/bin/mysqld_exporter $(TMP)/mysqld_exporter
	cp -f $(GOPATH)/bin/postgres_exporter $(TMP)/postgres_exporter
	cp -f $(GOPATH)/bin/mongodb_exporter $(TMP)/mongodb_exporter
	cp -f $(GOPATH)/bin/proxysql_exporter $(TMP)/proxysql_exporter
	cp -f $(GOPATH)/bin/ssm-qan-agent $(TMP)/ssm-qan-agent
	cp -f $(GOPATH)/bin/ssm-qan-agent-installer $(TMP)/ssm-qan-agent-installer
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/mysqld_exporter/queries-mysqld.yml $(TMP)/queries-mysqld.yml
	install -m 0755 $(GOPATH)/src/github.com/shatteredsilicon/node_exporter/example.prom $(TMP)/example.prom
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/node_exporter/ssm-linux-metrics.service $(TMP)/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/mysqld_exporter/ssm-mysql-metrics.service $(TMP)/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/qan-agent/ssm-mysql-queries.service $(TMP)/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/mongodb_exporter/ssm-mongodb-metrics.service $(TMP)/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/qan-agent/ssm-mongodb-queries.service $(TMP)/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/postgres_exporter/ssm-postgresql-metrics.service $(TMP)/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/proxysql_exporter/ssm-proxysql-metrics.service $(TMP)/
	install -m 0600 $(GOPATH)/src/github.com/shatteredsilicon/node_exporter/support-files/config/node_exporter.conf $(TMP)/config/
	install -m 0600 $(GOPATH)/src/github.com/shatteredsilicon/mysqld_exporter/support-files/config/mysqld_exporter.conf $(TMP)/config/
	install -m 0600 $(GOPATH)/src/github.com/shatteredsilicon/mongodb_exporter/support-files/config/mongodb_exporter.conf $(TMP)/config/
	install -m 0600 $(GOPATH)/src/github.com/shatteredsilicon/postgres_exporter/support-files/config/postgres_exporter.conf $(TMP)/config/
	install -m 0600 $(GOPATH)/src/github.com/shatteredsilicon/proxysql_exporter/support-files/config/proxysql_exporter.conf $(TMP)/config/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/node_exporter/support-files/rsyslog.d/* $(TMP)/rsyslog.d/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/mysqld_exporter/support-files/rsyslog.d/* $(TMP)/rsyslog.d/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/mongodb_exporter/support-files/rsyslog.d/* $(TMP)/rsyslog.d/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/postgres_exporter/support-files/rsyslog.d/* $(TMP)/rsyslog.d/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/proxysql_exporter/support-files/rsyslog.d/* $(TMP)/rsyslog.d/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/qan-agent/support-files/rsyslog.d/* $(TMP)/rsyslog.d/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/node_exporter/support-files/logrotate.d/* $(TMP)/logrotate.d/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/mysqld_exporter/support-files/logrotate.d/* $(TMP)/logrotate.d/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/mongodb_exporter/support-files/logrotate.d/* $(TMP)/logrotate.d/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/postgres_exporter/support-files/logrotate.d/* $(TMP)/logrotate.d/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/proxysql_exporter/support-files/logrotate.d/* $(TMP)/logrotate.d/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/qan-agent/support-files/logrotate.d/* $(TMP)/logrotate.d/
	install -m 0755 $(GOPATH)/src/github.com/shatteredsilicon/node_exporter/support-files/init.d/* $(TMP)/init.d/
	install -m 0755 $(GOPATH)/src/github.com/shatteredsilicon/mysqld_exporter/support-files/init.d/* $(TMP)/init.d/
	install -m 0755 $(GOPATH)/src/github.com/shatteredsilicon/mongodb_exporter/support-files/init.d/* $(TMP)/init.d/
	install -m 0755 $(GOPATH)/src/github.com/shatteredsilicon/postgres_exporter/support-files/init.d/* $(TMP)/init.d/
	install -m 0755 $(GOPATH)/src/github.com/shatteredsilicon/proxysql_exporter/support-files/init.d/* $(TMP)/init.d/
	install -m 0755 $(GOPATH)/src/github.com/shatteredsilicon/qan-agent/support-files/init.d/* $(TMP)/init.d/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/node_exporter/support-files/init/* $(TMP)/init/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/mysqld_exporter/support-files/init/* $(TMP)/init/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/mongodb_exporter/support-files/init/* $(TMP)/init/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/postgres_exporter/support-files/init/* $(TMP)/init/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/proxysql_exporter/support-files/init/* $(TMP)/init/
	install -m 0644 $(GOPATH)/src/github.com/shatteredsilicon/qan-agent/support-files/init/* $(TMP)/init/

override_dh_fixperms:
	dh_fixperms
	chmod 600 $(PACKAGE_ROOT)/opt/ss/ssm-client/config/*
